<button (click)="this.router.navigate(['/invisDevices'])" class="btn btn-primary">Return Devices</button>
<button (click)="this.router.navigate(['/addDevice'])" class="btn btn-primary">Add Device</button>
<button (click)="this.router.navigate(['/barcode'])" class="btn btn-primary">Print Barcodes</button>
<button (click)="this.router.navigate(['/home'])" class="btn btn-primary">Logout</button>

<table class="table table-responsive">
  <caption>Rented Devices</caption>
  <thead>
    <tr>
    <th>BarcodeNr</th>
    <th>Device Name</th>
    <th>Device Describtion</th>
    <th>Pupil First Name</th>
    <th>Pupil Last Name</th>
    <th>Return Date</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of this.entService.invisDevices">
    <td>{{device.barcodeNr}}</td>
    <td>{{device.deviceName}}</td>     
    <td>{{device.deviceDescription}}</td>      
    <td>{{device.rent.pupil.firstName}}</td>      
    <td>{{device.rent.pupil.lastName}}</td>      
    <td>{{device.rent.returnDate}}</td>      
    <td><button class="btn btn-primary" (click)="giveBack(device)">Return</button></td>
    </tr>
  </tbody>
</table>