<div class="container">
  <h2>Confirm Rent</h2>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input name="firstName" type="text" class="form-control" value="{{this.entService.selectedPupil.firstName}}" disabled="true" #firstName/>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" class="form-control" value="{{this.entService.selectedPupil.lastName}}" disabled="true" #lastName>
  </div>  
  
  <div class="form-group">
    <label for="deviceName">Device Name</label>
    <input name="deviceName" type="text" class="form-control" value="{{this.entService.selectedDevices[0].deviceName}}" disabled="true" #deviceName>
  </div>

  <div class="form-group">
    <label for="deviceDescription">Device Description</label>
    <input name="deviceDescription" type="text" class="form-control" value="{{this.entService.selectedDevices[0].deviceDescription}}" disabled="true" #deviceDescription>
  </div>

  <div class="form-group">
      <label for="dateFrom">From</label>
      <input name="dateFrom" type="date" class="form-control" #dateFrom>
  </div>

  <div class="form-group">
      <label for="dateTo">To</label>
      <input name="dateTo" type="date" class="form-control" #dateTo>
  </div>

  <button (click)="rentDevice(dateFrom.value, dateTo.value)" class="btn btn-primary">Confirm</button>
  <button (click)="this.router.navigate(['/home'])" class="btn btn-primary">Cancel</button>

</div>