<div>
  <h2>{{this.entService.selectedClass}}</h2>
      <button *ngFor="let pupil of this.entService.pupilListSelectedClass" class="btn btn-light" (click)="showDevices(pupil)">
        {{pupil.firstName}}<br>{{pupil.lastName}}</button>
</div>