<div>
    <h2>Letzten 3 Klassen: </h2>
        <button *ngFor="let class of this.entService.classListL3" class="btn btn-light" (click)="showPupils(class)">{{class}}</button>
    <h2>Informatik und Medientechnik Klassen: </h2>
        <button *ngFor="let class of this.entService.classListI_M" class="btn btn-light" (click)="showPupils(class)">{{class}}</button>
    <h2>Medizin und Elektronik Klassen: </h2>
        <button *ngFor="let class of this.entService.classListM_E" class="btn btn-light" (click)="showPupils(class)">{{class}}</button>
</div>

