<button (click)="this.router.navigate(['/home'])" class="btn btn-primary">Home</button>
<button (click)="this.router.navigate(['/untis'])" class="btn btn-primary">Update Classes</button>
<button (click)="this.router.navigate(['/login'])" class="btn btn-primary">Admin Login</button>

<h1 align="center" style="font-size: 60px">Entleihsystem</h1>

<router-outlet></router-outlet>