<div class="container">
  <h2>Admin Login</h2>

  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" class="form-control" #username>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" class="form-control" #password>
  </div>

  <button (click)="verifyUser(username.value, password.value)" class="btn btn-primary">Login</button>
  <button (click)="this.router.navigate(['/home'])" class="btn btn-primary">Cancel</button>
</div>