<h2>{{this.entService.selectedPupil.firstName}} {{this.entService.selectedPupil.lastName}} </h2>

<table class="table table-responsive">
    <caption>Devices</caption>
    <thead>
      <tr>
      <th>BarcodeNr</th>
      <th>Name</th>
      <th>Describtion</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let device of this.entService.visDevices">
      <td>{{device.barcodeNr}}</td>
      <td>{{device.deviceName}}</td>     
      <td>{{device.deviceDescription}}</td>      
      <td><button class="btn btn-primary" (click)="confirmRent(device)">Rent</button></td>
      </tr>
    </tbody>
  </table>