<button (click)="this.router.navigate(['/invisDevices'])" class="btn btn-primary">Return Devices</button>
<button (click)="this.router.navigate(['/addDevice'])" class="btn btn-primary">Add Device</button>
<button (click)="this.router.navigate(['/barcode'])" class="btn btn-primary">Print Barcodes</button>
<button (click)="this.router.navigate(['/home'])" class="btn btn-primary">Logout</button>

<h2 align="center">Last Barcode Number: {{this.entService.lastBarcodeNr}}</h2>

<a  href="http://localhost:8081/ausleihsystem/rs/device/barcodepdf" download="barcodes.pdf">
  <button class="btn btn-primary">Download</button>
</a>