<button (click)="this.router.navigate(['/invisDevices'])" class="btn btn-primary">Return Devices</button>
<button (click)="this.router.navigate(['/addDevice'])" class="btn btn-primary">Add Device</button>
<button (click)="this.router.navigate(['/barcode'])" class="btn btn-primary">Print Barcodes</button>
<button (click)="this.router.navigate(['/home'])" class="btn btn-primary">Logout</button>

<div class="container">
  <h2>Add Device</h2>

  <div class="form-group">
    <label for="barcodeNr">Barcode Nr</label>
    <input name="barcodeNr" type="number" class="form-control" #barcodeNr/>
  </div>

  <div class="form-group">
    <label for="deviceName">Device Name</label>
    <input name="deviceName" type="text" class="form-control" #deviceName>
  </div>  
  
  <div class="form-group">
    <label for="deviceDescription">Device Description</label>
    <input name="deviceDescription" type="text" class="form-control" #deviceDescription>
  </div>

  <button (click)="addDevice(barcodeNr.value, deviceName.value, deviceDescription.value)" class="btn btn-primary">Confirm</button>
  <button (click)="this.router.navigate(['/invisDevices'])" class="btn btn-primary">Cancel</button>
</div>